body {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  /* color: white; */
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
 
 
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* border: 2px solid red; */
  box-shadow: #F8FFAE;
  padding-bottom: 24px;
  background-color: white;
  min-width: 400px;
  box-shadow: 7px 7px 7px #81818c;
  border-radius: 7px;
 

}

.feedback-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
} 
.feedback-item{
  margin: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.feedback-item h3 {
  margin: 0;
  font-size: 16px;
}
.feedback-item p {
  margin: 0;
  font-size: 14px;
}
.form-input{
  width: 300px;
}
.alert{
  position: absolute;
 right: 20px;
  width: 350px;
  transition:  .6s ease-in-out;
  
}